Importing the Essential Libraries

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Analysing the dataset

In [62]:
dataset = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [63]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [64]:
dataset['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [65]:
dataset.replace({'gender':{'Male':2,'Female':1,'Other':0}},inplace=True)

In [66]:
dataset['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [67]:
dataset.replace({'work_type':{'Private':4,'Self-employed':3,'children':2,'Govt_job':1,'Never_worked':0}},inplace=True)

In [68]:
dataset['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [69]:
dataset.replace({'ever_married':{'Yes':1,'No':0}},inplace=True)

In [70]:
dataset['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [71]:
dataset.replace({'Residence_type':{'Urban':1,'Rural':0}},inplace=True)

In [72]:
dataset['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [73]:
dataset.replace({'smoking_status':{'never smoked':0,'Unknown':1,'formerly smoked':2,'smokes':3}},inplace=True)

In [74]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,2,67.0,0,1,1,4,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,3,0,202.21,NaN,0,1
2,31112,2,80.0,0,1,1,4,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,1,79.0,1,0,1,3,0,174.12,24.0,0,1

In [75]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [76]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [77]:
dataset.shape

(5110, 12)

In [78]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 9:10])    
X[:, 9:10] = imputer.transform(X[:, 9:10])

In [79]:
X

array([[9.04600000e+03, 2.00000000e+00, 6.70000000e+01, ...,
        2.28690000e+02, 3.66000000e+01, 2.00000000e+00],
       [5.16760000e+04, 1.00000000e+00, 6.10000000e+01, ...,
        2.02210000e+02, 2.88932369e+01, 0.00000000e+00],
       [3.11120000e+04, 2.00000000e+00, 8.00000000e+01, ...,
        1.05920000e+02, 3.25000000e+01, 0.00000000e+00],
       ...,
       [1.97230000e+04, 1.00000000e+00, 3.50000000e+01, ...,
        8.29900000e+01, 3.06000000e+01, 0.00000000e+00],
       [3.75440000e+04, 2.00000000e+00, 5.10000000e+01, ...,
        1.66290000e+02, 2.56000000e+01, 2.00000000e+00],
       [4.46790000e+04, 1.00000000e+00, 4.40000000e+01, ...,
        8.52800000e+01, 2.62000000e+01, 1.00000000e+00]])

Feature Scaling

In [80]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Spliting into Training and Testing Dataset

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

Implementing Artificial Neural Networks

In [82]:
import tensorflow as tf

ann = tf.keras.Sequential()
ann.add(tf.keras.layers.Dense(units=20, activation='relu')) # Input layer
ann.add(tf.keras.layers.Dense(units=20, activation='relu')) # Hidden Layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) # Output Layer

In [83]:
ann.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy']) # Compiling the ANN
ann.fit(X_train,y_train,batch_size=20,epochs=50)

Epoch 1/50
205/205 [==============================] - 1s 3ms/step - loss: 0.2902 - accuracy: 0.9188
Epoch 2/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1680 - accuracy: 0.9523
Epoch 3/50
205/205 [==============================] - 1s 5ms/step - loss: 0.1581 - accuracy: 0.9523
Epoch 4/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1538 - accuracy: 0.9523
Epoch 5/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1512 - accuracy: 0.9525
Epoch 6/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1494 - accuracy: 0.9523
Epoch 7/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1482 - accuracy: 0.9525
Epoch 8/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1464 - accuracy: 0.9523
Epoch 9/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1460 - accuracy: 0.9523
Epoch 10/50
205/205 [==============================] - 1s 5ms/step - loss: 0.1448 - accuracy: 0.9523
Epoch 11/50
205/205 [==============================] - 1s 5ms/step - loss: 0.1445 - accuracy: 0.9525
Epoch 12/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1439 - accuracy: 0.9525
Epoch 13/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1429 - accuracy: 0.9523
Epoch 14/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1425 - accuracy: 0.9525
Epoch 15/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1421 - accuracy: 0.9525
Epoch 16/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1413 - accuracy: 0.9525
Epoch 17/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1407 - accuracy: 0.9523
Epoch 18/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1403 - accuracy: 0.9528
Epoch 19/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1395 - accuracy: 0.9528
Epoch 20/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1388 - accuracy: 0.9533
Epoch 21/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1385 - accuracy: 0.9525
Epoch 22/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1374 - accuracy: 0.9533
Epoch 23/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1370 - accuracy: 0.9528
Epoch 24/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1372 - accuracy: 0.9530
Epoch 25/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1361 - accuracy: 0.9535
Epoch 26/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1360 - accuracy: 0.9533
Epoch 27/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1348 - accuracy: 0.9523
Epoch 28/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1345 - accuracy: 0.9538
Epoch 29/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1340 - accuracy: 0.9530
Epoch 30/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1332 - accuracy: 0.9530
Epoch 31/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1331 - accuracy: 0.9533
Epoch 32/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1325 - accuracy: 0.9538
Epoch 33/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1316 - accuracy: 0.9540
Epoch 34/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1314 - accuracy: 0.9538
Epoch 35/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1309 - accuracy: 0.9540
Epoch 36/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1300 - accuracy: 0.9538
Epoch 37/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1299 - accuracy: 0.9540
Epoch 38/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1295 - accuracy: 0.9533
Epoch 39/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1292 - accuracy: 0.9547
Epoch 40/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1276 - accuracy: 0.9528
Epoch 41/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1281 - accuracy: 0.9545
Epoch 42/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1270 - accuracy: 0.9535
Epoch 43/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1269 - accuracy: 0.9535
Epoch 44/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1263 - accuracy: 0.9543
Epoch 45/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1269 - accuracy: 0.9543
Epoch 46/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1264 - accuracy: 0.9547
Epoch 47/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1258 - accuracy: 0.9540
Epoch 48/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1256 - accuracy: 0.9543
Epoch 49/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1257 - accuracy: 0.9538
Epoch 50/50
205/205 [==============================] - 1s 4ms/step - loss: 0.1244 - accuracy: 0.9530

In [84]:
y_pred = ann.predict(X_test)

In [85]:
y_pred2 = []
answers = []
for i in y_pred:
    for j in i:
        if j>=0.5:
            y_pred2.append(1)
        else:
            y_pred2.append(0)

Implementation of Random Forest Classifier

In [86]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='entropy',n_estimators=50,random_state=0)
model.fit(X_train,y_train.ravel())

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [87]:
y_pred_forest = model.predict(X_test)

Checking the Accuracy of Random Forest Classifier

In [88]:
from sklearn.metrics import accuracy_score
print("Accuracy: ",round(accuracy_score(y_test,y_pred_forest)*100,2),"%")

Accuracy:  94.72 %