Importing the Essential Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Analysing the dataset

In [4]:
dataset = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [5]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
dataset['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [7]:
dataset.replace({'gender':{'Male':2,'Female':1,'Other':0}},inplace=True)

In [8]:
dataset['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [9]:
dataset.replace({'work_type':{'Private':4,'Self-employed':3,'children':2,'Govt_job':1,'Never_worked':0}},inplace=True)

In [10]:
dataset['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [13]:
dataset.replace({'ever_married':{'Yes':1,'No':0}},inplace=True)

In [12]:
dataset['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [14]:
dataset.replace({'Residence_type':{'Urban':1,'Rural':0}},inplace=True)

In [15]:
dataset['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [17]:
dataset.replace({'smoking_status':{'never smoked':0,'Unknown':1,'formerly smoked':2,'smokes':3}},inplace=True)

In [18]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,2,67.0,0,1,1,4,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,3,0,202.21,NaN,0,1
2,31112,2,80.0,0,1,1,4,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,1,79.0,1,0,1,3,0,174.12,24.0,0,1

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [20]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 9:10])    
X[:, 9:10] = imputer.transform(X[:, 9:10])
print(X)

TypeError: cannot do slice indexing on Index with these indexers [9] of type int

In [31]:
dataset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,2,67.0,0,1,1,4,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,3,0,202.21,NaN,0,1
2,31112,2,80.0,0,1,1,4,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,1,79.0,1,0,1,3,0,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,1,80.0,1,0,1,4,1,83.75,NaN,0,0
5106,44873,1,81.0,0,0,1,3,1,125.20,40.0,0,0
5107,19723,1,35.0,0,0,1,3,0,82.99,30.6,0,0
5108,37544,2,51.0,0,0,1,4,0,166.29,25.6,2,0
5109,44679,1,44.0,0,0,1,1,1,85.28,26.2,1,0